<!DOCTYPE html>
<html ng-app="mainModule">
<head>
	<meta charset="UTF-8">
	<title>My first page with AngularJs</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script src="controller.js"></script>
</head>
<body ng-controller="firstController">
	<span>Wait 2 seconds</span>
	<h1>{{name}}</h1>
	<button id="myButton">Add second last name</button>
	<button ng-click="middleName()">Add middle name</button>
	<button ng-click="clean()">Reset</button>
</body>
</html>